## Importing Libraries and Loading Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### Reading Data

In [2]:
df= pd.read_excel("Bird Strikes data.xlsx", keep_default_na = False)
df.head()

,Record ID,Aircraft: Type,Airport: Name,Altitude bin,Aircraft: Make/Model,Wildlife: Number struck,Wildlife: Number Struck Actual,Effect: Impact to flight,FlightDate,Effect: Indicated Damage,...,Remains of wildlife sent to Smithsonian,Remarks,Wildlife: Size,Conditions: Sky,Wildlife: Species,Pilot warned of birds or wildlife?,Cost: Total $,Feet above ground,Number of people injured,Is Aircraft Large?
0,202152,Airplane,LAGUARDIA NY,> 1000 ft,B-737-400,Over 100,859,Engine Shut Down,2000-11-23 00:00:00,Caused damage,...,False,FLT 753. PILOT REPTD A HUNDRED BIRDS ON UNKN T...,Medium,No Cloud,Unknown bird - medium,N,30736,1500,0,Yes
1,208159,Airplane,DALLAS/FORT WORTH INTL ARPT,< 1000 ft,MD-80,Over 100,424,None,2001-07-25 00:00:00,Caused damage,...,False,102 CARCASSES FOUND. 1 LDG LIGHT ON NOSE GEAR ...,Small,Some Cloud,Rock pigeon,Y,0,0,0,No
2,207601,Airplane,LAKEFRONT AIRPORT,< 1000 ft,C-500,Over 100,261,None,2001-09-14 00:00:00,No damage,...,False,FLEW UNDER A VERY LARGE FLOCK OF BIRDS OVER AP...,Small,No Cloud,European starling,N,0,50,0,No
3,215953,Airplane,SEATTLE-TACOMA INTL,< 1000 ft,B-737-400,Over 100,806,Precautionary Landing,2002-09-05 00:00:00,No damage,...,False,"NOTAM WARNING. 26 BIRDS HIT THE A/C, FORCING A...",Small,Some Cloud,European starling,Y,0,50,0,Yes
4,219878,Airplane,NORFOLK INTL,< 1000 ft,CL-RJ100/200,Over 100,942,None,2003-06-23 00:00:00,No damage,...,False,NO DMG REPTD.,Small,No Cloud,European starling,N,0,50,0,No

In [3]:
df.shape

(25558, 26)

In [4]:
df.describe()

,Record ID,Wildlife: Number Struck Actual,Cost: Total $,Number of people injured
count,25558.000000,25558.000000,2.555800e+04,25558.000000
mean,253916.085609,2.691525,5.567354e+03,0.001056
std,38510.453382,12.793975,1.219713e+05,0.050420
min,1195.000000,1.000000,0.000000e+00,0.000000
25%,225783.750000,1.000000,0.000000e+00,0.000000
50%,248749.000000,1.000000,0.000000e+00,0.000000
75%,269168.750000,1.000000,0.000000e+00,0.000000
max,321909.000000,942.000000,1.239775e+07,6.000000

In [5]:
df.columns

Index(['Record ID', 'Aircraft: Type', 'Airport: Name', 'Altitude bin',
       'Aircraft: Make/Model', 'Wildlife: Number struck',
       'Wildlife: Number Struck Actual', 'Effect: Impact to flight',
       'FlightDate', 'Effect: Indicated Damage',
       'Aircraft: Number of engines?', 'Aircraft: Airline/Operator',
       'Origin State', 'When: Phase of flight', 'Conditions: Precipitation',
       'Remains of wildlife collected?',
       'Remains of wildlife sent to Smithsonian', 'Remarks', 'Wildlife: Size',
       'Conditions: Sky', 'Wildlife: Species',
       'Pilot warned of birds or wildlife?', 'Cost: Total $',
       'Feet above ground', 'Number of people injured', 'Is Aircraft Large?'],
      dtype='object')

In [6]:
for column in df.columns:
    df.columns = df.columns.str.replace(r'[^\w\s]','',regex = True)
df.columns

Index(['Record ID', 'Aircraft Type', 'Airport Name', 'Altitude bin',
       'Aircraft MakeModel', 'Wildlife Number struck',
       'Wildlife Number Struck Actual', 'Effect Impact to flight',
       'FlightDate', 'Effect Indicated Damage', 'Aircraft Number of engines',
       'Aircraft AirlineOperator', 'Origin State', 'When Phase of flight',
       'Conditions Precipitation', 'Remains of wildlife collected',
       'Remains of wildlife sent to Smithsonian', 'Remarks', 'Wildlife Size',
       'Conditions Sky', 'Wildlife Species',
       'Pilot warned of birds or wildlife', 'Cost Total ', 'Feet above ground',
       'Number of people injured', 'Is Aircraft Large'],
      dtype='object')

#### Renaming Columns and Turning to Lower Case

In [7]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df.columns = df.columns.str.replace(r'_$', '', regex=True)
df.columns

Index(['record_id', 'aircraft_type', 'airport_name', 'altitude_bin',
       'aircraft_makemodel', 'wildlife_number_struck',
       'wildlife_number_struck_actual', 'effect_impact_to_flight',
       'flightdate', 'effect_indicated_damage', 'aircraft_number_of_engines',
       'aircraft_airlineoperator', 'origin_state', 'when_phase_of_flight',
       'conditions_precipitation', 'remains_of_wildlife_collected',
       'remains_of_wildlife_sent_to_smithsonian', 'remarks', 'wildlife_size',
       'conditions_sky', 'wildlife_species',
       'pilot_warned_of_birds_or_wildlife', 'cost_total', 'feet_above_ground',
       'number_of_people_injured', 'is_aircraft_large'],
      dtype='object')

In [8]:
df.dtypes

record_id                                   int64
aircraft_type                              object
airport_name                               object
altitude_bin                               object
aircraft_makemodel                         object
wildlife_number_struck                     object
wildlife_number_struck_actual               int64
effect_impact_to_flight                    object
flightdate                                 object
effect_indicated_damage                    object
aircraft_number_of_engines                 object
aircraft_airlineoperator                   object
origin_state                               object
when_phase_of_flight                       object
conditions_precipitation                   object
remains_of_wildlife_collected                bool
remains_of_wildlife_sent_to_smithsonian      bool
remarks                                    object
wildlife_size                              object
conditions_sky                             object
wildlife_species                           object
pilot_warned_of_birds_or_wildlife          object
cost_total                                  int64
feet_above_ground                          object
number_of_people_injured                    int64
is_aircraft_large                          object
dtype: object

In [9]:
df.isnull().sum()

record_id                                  0
aircraft_type                              0
airport_name                               0
altitude_bin                               0
aircraft_makemodel                         0
wildlife_number_struck                     0
wildlife_number_struck_actual              0
effect_impact_to_flight                    0
flightdate                                 0
effect_indicated_damage                    0
aircraft_number_of_engines                 0
aircraft_airlineoperator                   0
origin_state                               0
when_phase_of_flight                       0
conditions_precipitation                   0
remains_of_wildlife_collected              0
remains_of_wildlife_sent_to_smithsonian    0
remarks                                    0
wildlife_size                              0
conditions_sky                             0
wildlife_species                           0
pilot_warned_of_birds_or_wildlife          0
cost_total                                 0
feet_above_ground                          0
number_of_people_injured                   0
is_aircraft_large                          0
dtype: int64

### Data Cleaning

#### Finding Unique

In [10]:
df['remarks'].unique()

array(['FLT 753. PILOT REPTD A HUNDRED BIRDS ON UNKN TYPE. #1 ENG WAS SHUT DOWN AND DIVERTED TO EWR. SLIGHT VIBRATION. A/C WAS OUT OF SVC FOR REPAIRS TO COWLING, FAN DUCT ACCOUSTIC PANEL. INGESTION. DENTED FAN BLADE #26 IN #1 ENG. HEAVY BLOOD STAINS ON L WINGTIP',
       '102 CARCASSES FOUND. 1 LDG LIGHT ON NOSE GEAR WAS DAMAGED AND REPLACED.',
       'FLEW UNDER A VERY LARGE FLOCK OF BIRDS OVER APCH END OF RWY. NO DMG. JUST A LOT OF BIRD DROPPINGS ON WINDSCREEN.',
       ...,
       'STRUCK BIRD ON RT FRONT DURING T/O. BIRD REPTD AS BROWN/WHITE. TWY.',
       'PILOTS REPORT STRIKING UNKNOWN BIRD ON RWY 21L BTWN TWY F & J. NO REMAINS FOUND ON RWY OR ON A/C. NO DMG TO A/C.',
       'HIT CENTER OF RADOME, CAVING IN ABOUT 12". RADOME WAS REPLACED. CARCASS FOUND IN SAFETY ARA ON RT SIDE OF RWY 22 AT INTXN OF RWY 18/36.'],
      dtype=object)

In [11]:
# Dropping Table

df.drop('remarks', axis = 1, inplace = True)

In [12]:
df['origin_state'].unique()

array(['New York', 'Texas', 'Louisiana', 'Washington', 'Virginia', 'N/A',
       'Delaware', 'DC', 'Georgia', 'Florida', 'California', 'Illinois',
       'Connecticut', 'Missouri', 'Rhode Island', 'Hawaii', 'Arizona',
       'Tennessee', 'South Carolina', 'South Dakota', 'New Jersey',
       'Colorado', 'Minnesota', 'Alabama', 'Ohio', 'Wisconsin',
       'Michigan', 'Massachusetts', 'Alaska', 'North Carolina',
       'Kentucky', 'Indiana', 'Oregon', 'Pennsylvania', 'New Hampshire',
       'Arkansas', 'Nevada', 'Mississippi', 'Maryland', 'Maine', 'Quebec',
       'Idaho', 'British Columbia', 'Utah', 'Nebraska', 'Iowa',
       'New Mexico', 'West Virginia', 'Oklahoma', 'North Dakota',
       'Vermont', 'Wyoming', 'Kansas', 'Prince Edward Island', 'Montana',
       'Puerto Rico', 'Ontario', 'Virgin Islands',
       'Newfoundland and Labrador', 'Alberta', 'Saskatchewan'],
      dtype=object)

In [13]:
df['aircraft_type'].unique()

array(['Airplane', ''], dtype=object)

In [14]:
df['when_phase_of_flight'].unique()

array(['Climb', 'Landing Roll', 'Approach', 'Take-off run', 'Descent', '',
       'Taxi', 'Parked'], dtype=object)

In [15]:
df['conditions_precipitation'].unique()

array(['None', 'Snow', 'Fog', 'Rain', 'Fog, Rain', 'Rain, Snow',
       'Fog, Rain, Snow', 'Fog, Snow'], dtype=object)

In [16]:
df['effect_impact_to_flight'].unique()

array(['Engine Shut Down', 'None', 'Precautionary Landing', 'Other',
       'Aborted Take-off', ''], dtype=object)

In [17]:
df.head()

,record_id,aircraft_type,airport_name,altitude_bin,aircraft_makemodel,wildlife_number_struck,wildlife_number_struck_actual,effect_impact_to_flight,flightdate,effect_indicated_damage,...,remains_of_wildlife_collected,remains_of_wildlife_sent_to_smithsonian,wildlife_size,conditions_sky,wildlife_species,pilot_warned_of_birds_or_wildlife,cost_total,feet_above_ground,number_of_people_injured,is_aircraft_large
0,202152,Airplane,LAGUARDIA NY,> 1000 ft,B-737-400,Over 100,859,Engine Shut Down,2000-11-23 00:00:00,Caused damage,...,False,False,Medium,No Cloud,Unknown bird - medium,N,30736,1500,0,Yes
1,208159,Airplane,DALLAS/FORT WORTH INTL ARPT,< 1000 ft,MD-80,Over 100,424,None,2001-07-25 00:00:00,Caused damage,...,False,False,Small,Some Cloud,Rock pigeon,Y,0,0,0,No
2,207601,Airplane,LAKEFRONT AIRPORT,< 1000 ft,C-500,Over 100,261,None,2001-09-14 00:00:00,No damage,...,False,False,Small,No Cloud,European starling,N,0,50,0,No
3,215953,Airplane,SEATTLE-TACOMA INTL,< 1000 ft,B-737-400,Over 100,806,Precautionary Landing,2002-09-05 00:00:00,No damage,...,True,False,Small,Some Cloud,European starling,Y,0,50,0,Yes
4,219878,Airplane,NORFOLK INTL,< 1000 ft,CL-RJ100/200,Over 100,942,None,2003-06-23 00:00:00,No damage,...,False,False,Small,No Cloud,European starling,N,0,50,0,No

In [18]:
# replacing blank values

df = df.replace('', np.nan)
df.isnull().sum()

record_id                                    0
aircraft_type                              129
airport_name                               129
altitude_bin                               129
aircraft_makemodel                           0
wildlife_number_struck                     129
wildlife_number_struck_actual                0
effect_impact_to_flight                    129
flightdate                                 129
effect_indicated_damage                      0
aircraft_number_of_engines                 267
aircraft_airlineoperator                   129
origin_state                                 0
when_phase_of_flight                       129
conditions_precipitation                     0
remains_of_wildlife_collected                0
remains_of_wildlife_sent_to_smithsonian      0
wildlife_size                              129
conditions_sky                               0
wildlife_species                             0
pilot_warned_of_birds_or_wildlife          129
cost_total                                   0
feet_above_ground                          129
number_of_people_injured                     0
is_aircraft_large                          129
dtype: int64

In [19]:
# changing "None" to string

df['conditions_precipitation'] = df['conditions_precipitation'].replace("None", "No Precipitation")
df['effect_impact_to_flight'] = df['effect_impact_to_flight'].replace("None", "No Damage")
df[['conditions_precipitation','effect_impact_to_flight']].head()

  conditions_precipitation effect_impact_to_flight
0         No Precipitation        Engine Shut Down
1         No Precipitation               No Damage
2         No Precipitation               No Damage
3         No Precipitation   Precautionary Landing
4         No Precipitation               No Damage

In [20]:
df.isnull().sum()

record_id                                    0
aircraft_type                              129
airport_name                               129
altitude_bin                               129
aircraft_makemodel                           0
wildlife_number_struck                     129
wildlife_number_struck_actual                0
effect_impact_to_flight                    129
flightdate                                 129
effect_indicated_damage                      0
aircraft_number_of_engines                 267
aircraft_airlineoperator                   129
origin_state                                 0
when_phase_of_flight                       129
conditions_precipitation                     0
remains_of_wildlife_collected                0
remains_of_wildlife_sent_to_smithsonian      0
wildlife_size                              129
conditions_sky                               0
wildlife_species                             0
pilot_warned_of_birds_or_wildlife          129
cost_total                                   0
feet_above_ground                          129
number_of_people_injured                     0
is_aircraft_large                          129
dtype: int64

In [21]:
# makinf copy of data as df1

df1 = df.copy()
df1.head()

,record_id,aircraft_type,airport_name,altitude_bin,aircraft_makemodel,wildlife_number_struck,wildlife_number_struck_actual,effect_impact_to_flight,flightdate,effect_indicated_damage,...,remains_of_wildlife_collected,remains_of_wildlife_sent_to_smithsonian,wildlife_size,conditions_sky,wildlife_species,pilot_warned_of_birds_or_wildlife,cost_total,feet_above_ground,number_of_people_injured,is_aircraft_large
0,202152,Airplane,LAGUARDIA NY,> 1000 ft,B-737-400,Over 100,859,Engine Shut Down,2000-11-23,Caused damage,...,False,False,Medium,No Cloud,Unknown bird - medium,N,30736,1500.0,0,Yes
1,208159,Airplane,DALLAS/FORT WORTH INTL ARPT,< 1000 ft,MD-80,Over 100,424,No Damage,2001-07-25,Caused damage,...,False,False,Small,Some Cloud,Rock pigeon,Y,0,0.0,0,No
2,207601,Airplane,LAKEFRONT AIRPORT,< 1000 ft,C-500,Over 100,261,No Damage,2001-09-14,No damage,...,False,False,Small,No Cloud,European starling,N,0,50.0,0,No
3,215953,Airplane,SEATTLE-TACOMA INTL,< 1000 ft,B-737-400,Over 100,806,Precautionary Landing,2002-09-05,No damage,...,True,False,Small,Some Cloud,European starling,Y,0,50.0,0,Yes
4,219878,Airplane,NORFOLK INTL,< 1000 ft,CL-RJ100/200,Over 100,942,No Damage,2003-06-23,No damage,...,False,False,Small,No Cloud,European starling,N,0,50.0,0,No

In [22]:
df1.isnull().any()

record_id                                  False
aircraft_type                               True
airport_name                                True
altitude_bin                                True
aircraft_makemodel                         False
wildlife_number_struck                      True
wildlife_number_struck_actual              False
effect_impact_to_flight                     True
flightdate                                  True
effect_indicated_damage                    False
aircraft_number_of_engines                  True
aircraft_airlineoperator                    True
origin_state                               False
when_phase_of_flight                        True
conditions_precipitation                   False
remains_of_wildlife_collected              False
remains_of_wildlife_sent_to_smithsonian    False
wildlife_size                               True
conditions_sky                             False
wildlife_species                           False
pilot_warned_of_birds_or_wildlife           True
cost_total                                 False
feet_above_ground                           True
number_of_people_injured                   False
is_aircraft_large                           True
dtype: bool

In [23]:
df1.columns[df1.isnull().any()]

Index(['aircraft_type', 'airport_name', 'altitude_bin',
       'wildlife_number_struck', 'effect_impact_to_flight', 'flightdate',
       'aircraft_number_of_engines', 'aircraft_airlineoperator',
       'when_phase_of_flight', 'wildlife_size',
       'pilot_warned_of_birds_or_wildlife', 'feet_above_ground',
       'is_aircraft_large'],
      dtype='object')

In [24]:
df1.isnull().sum()

record_id                                    0
aircraft_type                              129
airport_name                               129
altitude_bin                               129
aircraft_makemodel                           0
wildlife_number_struck                     129
wildlife_number_struck_actual                0
effect_impact_to_flight                    129
flightdate                                 129
effect_indicated_damage                      0
aircraft_number_of_engines                 267
aircraft_airlineoperator                   129
origin_state                                 0
when_phase_of_flight                       129
conditions_precipitation                     0
remains_of_wildlife_collected                0
remains_of_wildlife_sent_to_smithsonian      0
wildlife_size                              129
conditions_sky                               0
wildlife_species                             0
pilot_warned_of_birds_or_wildlife          129
cost_total                                   0
feet_above_ground                          129
number_of_people_injured                     0
is_aircraft_large                          129
dtype: int64

In [25]:
# Dropping  NA values

df1.dropna(subset=['aircraft_type', 'airport_name', 'altitude_bin',
       'wildlife_number_struck', 'effect_impact_to_flight', 'flightdate',
       'aircraft_number_of_engines', 'aircraft_airlineoperator',
       'origin_state', 'when_phase_of_flight',
        'wildlife_size', 'pilot_warned_of_birds_or_wildlife',
       'feet_above_ground', 'is_aircraft_large'], inplace = True)

In [26]:
df1.isnull().sum()

record_id                                  0
aircraft_type                              0
airport_name                               0
altitude_bin                               0
aircraft_makemodel                         0
wildlife_number_struck                     0
wildlife_number_struck_actual              0
effect_impact_to_flight                    0
flightdate                                 0
effect_indicated_damage                    0
aircraft_number_of_engines                 0
aircraft_airlineoperator                   0
origin_state                               0
when_phase_of_flight                       0
conditions_precipitation                   0
remains_of_wildlife_collected              0
remains_of_wildlife_sent_to_smithsonian    0
wildlife_size                              0
conditions_sky                             0
wildlife_species                           0
pilot_warned_of_birds_or_wildlife          0
cost_total                                 0
feet_above_ground                          0
number_of_people_injured                   0
is_aircraft_large                          0
dtype: int64

In [27]:
df1

,record_id,aircraft_type,airport_name,altitude_bin,aircraft_makemodel,wildlife_number_struck,wildlife_number_struck_actual,effect_impact_to_flight,flightdate,effect_indicated_damage,...,remains_of_wildlife_collected,remains_of_wildlife_sent_to_smithsonian,wildlife_size,conditions_sky,wildlife_species,pilot_warned_of_birds_or_wildlife,cost_total,feet_above_ground,number_of_people_injured,is_aircraft_large
0,202152,Airplane,LAGUARDIA NY,> 1000 ft,B-737-400,Over 100,859,Engine Shut Down,2000-11-23,Caused damage,...,False,False,Medium,No Cloud,Unknown bird - medium,N,30736,1500.0,0,Yes
1,208159,Airplane,DALLAS/FORT WORTH INTL ARPT,< 1000 ft,MD-80,Over 100,424,No Damage,2001-07-25,Caused damage,...,False,False,Small,Some Cloud,Rock pigeon,Y,0,0.0,0,No
2,207601,Airplane,LAKEFRONT AIRPORT,< 1000 ft,C-500,Over 100,261,No Damage,2001-09-14,No damage,...,False,False,Small,No Cloud,European starling,N,0,50.0,0,No
3,215953,Airplane,SEATTLE-TACOMA INTL,< 1000 ft,B-737-400,Over 100,806,Precautionary Landing,2002-09-05,No damage,...,True,False,Small,Some Cloud,European starling,Y,0,50.0,0,Yes
4,219878,Airplane,NORFOLK INTL,< 1000 ft,CL-RJ100/200,Over 100,942,No Damage,2003-06-23,No damage,...,False,False,Small,No Cloud,European starling,N,0,50.0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25552,319672,Airplane,SACRAMENTO INTL,< 1000 ft,B-737-700,1,1,No Damage,2011-12-29,No damage,...,True,True,Medium,No Cloud,Mallard,Y,0,10.0,0,Yes
25553,321151,Airplane,REDDING MUNICIPAL,> 1000 ft,EMB-120,1,1,No Damage,2011-12-30,No damage,...,False,False,Large,Overcast,Unknown bird - large,N,0,1500.0,0,No
25554,319677,Airplane,ORLANDO INTL,< 1000 ft,A-321,1,1,No Damage,2011-12-30,No damage,...,False,False,Small,Some Cloud,Tree swallow,Y,0,0.0,0,No
25556,319679,Airplane,DETROIT METRO WAYNE COUNTY ARPT,< 1000 ft,B-757-200,1,1,No Damage,2011-12-31,No damage,...,False,False,Medium,Some Cloud,Unknown bird - medium,Y,0,0.0,0,Yes
25557,319593,Airplane,ABRAHAM LINCOLN CAPITAL ARPT,< 1000 ft,B-737-400,1,1,No Damage,2011-12-31,Caused damage,...,True,False,Medium,No Cloud,Red-tailed hawk,N,0,0.0,0,Yes

### Export to Excel

In [28]:
df1.to_excel(r'C:\Users\sumee\OneDrive\Desktop\Projects\Bird_Strike_Cleaned.xlsx',index = False)